@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Circular Pro Book';
    src: url('/CircularPro-Book.woff2') format('woff2'),
        url('/CircularPro-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Pro';
    src: url('/CircularPro-Medium.woff2') format('woff2'),
        url('/CircularPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


body {
    -webkit-appearance: none;
    font-family: "Circular Pro Book";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
}

:root {
    --d-black: #313131;
    --d-lightGray: #F4F4F4;
    --d-mediumGray: #e6e6e6;
    --d-darkGray: #C0C0C0;
    --d-white: #ffffff;
    --d-lightGreen: #9DFF3A;
    --d-darkGreen: #54AB00;
}

h1 {
    @apply text-[40px] md:text-[60px] lg:text-[75px] xl:text-[85px] leading-[115%] md:leading-[110%];
}

h2 {
    @apply text-[30px] md:text-[45px] lg:text-[55px] xl:text-[65px] leading-[115%] md:leading-[110%];
}

h3 {
    @apply text-[35px] md:text-[35px] lg:text-[45px] xl:text-[55px] leading-[115%] md:leading-[110%];
}

.p1 {
    @apply text-[25px] md:text-[30px] leading-[120%];
}

.p2 {
    @apply text-[20px] leading-[120%];
}


.box {
    @apply mx-6;
}

.style-white {
    @apply bg-d_white text-d_black;
}

.style-light-gray {
    @apply bg-d_lightGray text-d_black;
}

.style-light-green {
    @apply bg-d_lightGreen text-d_black; 
}

.style-dark-green {
    @apply bg-d_darkGreen text-d_black; 
}

.style-dark-gray {
    @apply bg-d_darkGray text-d_black;
}

.style-black {
    @apply bg-d_black text-d_lightGray;
}


ul.splide__pagination.splide__pagination--ltr {
    width: fit-content;
    background: var(--d-lightGray);
    margin: auto;
    border-radius: 100px;
    padding-bottom: 6px;
    padding-top: 3px;
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 10px;
}

button.splide__pagination__page {
    height: 16px;
    width: 16px;
}

.splide__pagination li {
    padding: 3px;
}

.splide__pagination__page.is-active {
    background: var(--d-black) !important;
    transform: scale(1) !important;
}