@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Circular Pro Book';
    src: url('/CircularPro-Book.woff2') format('woff2'),
        url('/CircularPro-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Pro';
    src: url('/CircularPro-Medium.woff2') format('woff2'),
        url('/CircularPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


body {
    -webkit-appearance: none;
    font-family: "Circular Pro Book";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
}

:root {
    --d-black: #1f1f1f;
    --d-lightGray: #E5E1DB;
    --d-mediumGray: #e6e6e6;
    --d-darkGray: #C0C0C0;
    --d-white: #ffffff;
    --d-lightGreen: #9DFF3A;
    --d-darkGreen: #54AB00;
}

h5, .hxl {
    @apply text-[35px] md:text-[50px] lg:text-[70px] xl:text-[100px] leading-[110%] md:leading-[105%];
}

h4, .h0 {
    @apply text-[30px] md:text-[40px] lg:text-[50px] xl:text-[80px] leading-[115%] md:leading-[110%];
}

h1 {
    @apply text-[30px] md:text-[40px] lg:text-[50px] xl:text-[60px] leading-[115%] md:leading-[110%];
}

h2 {
    @apply text-[30px] md:text-[30px] lg:text-[40px] xl:text-[40px] leading-[115%] md:leading-[115%];
}

h3 {
    @apply text-[25px] md:text-[25px] lg:text-[25px] xl:text-[25px] leading-[115%] md:leading-[130%];
}

.p1, p {
    @apply text-[22px] md:text-[20px] leading-[133%];
}

.p2 {
    @apply text-[18px] md:text-[20px] leading-[128%];
}

.p3 {
    @apply text-[15px] leading-[125%];
}

.box {
    @apply mx-4 md:mx-6;
}

.box-narrow {
    @apply mx-4 md:mx-48;
}

.style-white {
    @apply bg-d_white text-d_black;
}

.style-light-gray {
    @apply bg-d_lightGray text-d_black;
}

.style-light-green {
    @apply bg-d_lightGreen text-d_black; 
}

.style-dark-green {
    @apply bg-d_darkGreen text-d_black; 
}

.style-dark-gray {
    @apply bg-d_darkGray text-d_black;
}

.style-black {
    @apply bg-d_black text-d_lightGray;
}


ul.splide__pagination.splide__pagination--ltr {
    width: fit-content;
    background: var(--d-lightGray);
    margin: auto;
    border-radius: 100px;
    padding-bottom: 6px;
    padding-top: 3px;
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 10px;
}

button.splide__pagination__page {
    height: 16px;
    width: 16px;
}

.splide__pagination li {
    padding: 3px;
}

.splide__pagination__page.is-active {
    background: var(--d-black) !important;
    transform: scale(1) !important;
}

::selection {
    background-color: var(--d-lightGreen);
    color: var(--d-black);
}

::-moz-selection {
    background-color: var(--d-lightGreen);
    color: var(--d-black);
}

.text-box p {
    @apply pb-4 p1;
}

.text-box li {
    @apply pb-4 list-disc list-outside ml-5 p1;
}

.text-box h1 {
    @apply pb-4;
}