@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Circular';
    src: url('CircularStd-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    -webkit-appearance: none;
    font-family: "Circular Std";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}

:root {
    --d-black: #313131;
    --d-lightGray: #F4F4F4;
    --d-mediumGray: #e6e6e6;
    --d-darkGray: #C0C0C0;
    --d-white: #ffffff;
    --d-lightGreen: #9DFF3A;
    --d-darkGreen: #54AB00;
}

h1 {
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

h2 {
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.p1 {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.box {
    @apply mx-6;
}

.style-white {
    @apply bg-d_white text-d_black;
}

.style-light-gray {
    @apply bg-d_lightGray text-d_black;
}

.style-light-green {
    @apply bg-d_lightGreen text-d_black; 
}

.style-dark-gray {
    @apply bg-d_darkGray text-d_black;
}

.style-black {
    @apply bg-d_black text-d_lightGray;
}